* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Josefin Sans, sans-serif;
  border: none;
  list-style: none;
}

body {
  background-color: rgb(249, 228, 215);
}

.container {
  max-width: 100%;
  max-width: 1080px;
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}
.header-text {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-text nav {
  display: flex;
  gap: 30px;
  color: rgba(68, 99, 129, 1);
}

button {
  padding: 15px 25px;
  border-radius: 30px;
  background-color: rgb(82, 82, 231);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(74, 71, 117, 1) 10%,
    rgba(48, 48, 171, 1) 82%,
    rgba(0, 212, 255, 1) 100%
  );
}

.section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-block: 50px;
}

.section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 530px;
  gap: 30px;
}

h4 {
  color: rgb(135, 143, 156);
}

h1 {
  font-size: 64px;
  font-weight: 800px;
  color: rgba(235, 131, 130, 1);
}

.container span {
  color: rgb(135, 143, 156);
}

p {
  font-size: 18px;
  line-height: 27px;
  color: rgba(130, 111, 140, 1);
}

.mein {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding-block: 50px;
}
img {
  max-width: 400px;
}

.mein-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 530px;
  gap: 30px;
}

.btn {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding-block: 50px;
}

.btn-next {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 530px;
  gap: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
  background: #fbdacf;
  transition: 500ms;
  padding-block: 50px;
}

.box:hover {
  background: #273f95;
  color: #fff;
  transform: scale(1.1);
  transition: 1s;
}

input {
  margin: 100px;
  max-width: 200px;
  min-height: 40px;
}
.plan:focus {
  background: yellow;
  border: none;
  border-radius: 10px;
}
.plan-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
}

.plan {
  display: flex;
  justify-content: space-between;
}
.plan .box {
  padding: 70px;
  max-width: 250px;
  min-height: 350px;
  border-radius: 10px;
  gap: 24px;
}

.plan-title h1 {
  color: #eb8382;
  font-size: 68px;
  font-weight: 800;
}
.plan-title p {
  font-size: 30px;
  font-weight: 700;
  color: rgba(68, 99, 129, 1);
}
.box h1 {
  color: rgba(235, 131, 130, 1);
  font-size: 40px;
}
.box span {
  font-size: 20px;
}
.plan ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box ul li::before {
  content: "✔ ";
  color: rgba(235, 131, 130, 1);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 50px;
}
